[[stack]]
name = "blackbox"
tags = ["tools", "data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Blackbox"
file_paths = ["openbullet.yaml"]
env_file_path = "openbullet.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=openbullet2-config
"""

##

[[stack]]
name = "data-station"
description = "For VPS download data (telegram bot) and backrest"
tags = ["system", "data"]
[stack.config]
server = "LightnodeVPS"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Syncing"
file_paths = [
  "backrest.yaml",
  "telegram-bot.yaml",
  "../Database/mongodb.yaml"
]
env_file_path = "data-station.env"
additional_env_files = ["../../MainSystem/.env"]
config_files = [
  { path = "../../../../rclone.conf", services = ["backrest", "telegram-bot"], requires = "Redeploy" },
  { path = "../../../../cookies.txt", services = ["telegram-bot"], requires = "Restart" }
]
environment = """
BACKREST_CONFIG_PATH=backrest-config
RClONE_CONFIG_PATH=../../../etc/komodo
OPENLIST_CONFIG_PATH=openlist-config
INFUSE_MEDIA_STORAGE_PATH=/mnt/Data/Infuse/media
APPLICATION_STORAGE_PATH=/mnt/Application/Downloads
MISC_STORAGE_PATH=/mnt/Storage
MONGODB_CONFIG_PATH=mongodb-config
LOCALHOST=127.0.0.1
BACKREST_PROXY_ALIAS=backrest.picityvietnam.com
"""

##

[[stack]]
name = "database"
tags = ["data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Database"
file_paths = [
  "mariadb.yaml",
  "mongodb.yaml",
  "mysql.yaml",
  "postgres.yaml",
  "redis.yaml"
]
env_file_path = "database.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
MONGO_INITDB_ROOT_PASSWORD=mongodb
MONGO_INITDB_ROOT_USERNAME=mongodb
MONGODB_CONFIG_PATH=mongodb-config
MYSQL_ROOT_PASSWORD=mysql
MYSQL_CONFIG_PATH=mysql-config
MARIADB_ROOT_PASSWORD=mariadb
MARIADB_CONFIG_PATH=mariadb-config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_CONFIG_PATH=postgresql-config
"""

##

[[stack]]
name = "karakeep"
tags = ["tools", "data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Karakeep"
additional_env_files = ["../../MainSystem/.env"]
environment = """
MEILI_MASTER_KEY=ask-tick-any-gavel
NEXTAUTH_SECRET=storming-flapping-topped-maris
KARAKEEP_OAUTH_CLIENT_ID=74edeb45-11b8-42d2-8dd6-d3ae3893972b
KARAKEEP_OAUTH_CLIENT_SECRET=eI6LTbhnRnRqHgIpxEcnJ0vMl2lHuUJe
"""

##

[[stack]]
name = "syncing-center"
tags = ["data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Syncing"
file_paths = [
  "openlist.yaml",
  "rclone.yaml",
  "backrest.yaml",
  "icloud.yaml"
]
env_file_path = "syncing.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
OPENLIST_CONFIG_PATH=openlist-config
RClONE_CONFIG_PATH=rclone-config
BACKREST_CONFIG_PATH=backrest-config
ICLOUD_CONFIG_PATH=icloud-config
INFUSE_MEDIA_STORAGE_PATH=/mnt/Data/Infuse/media
APPLICATION_STORAGE_PATH=/mnt/Application/Downloads
MISC_STORAGE_PATH=/mnt/Storage
RUN_ARIA2=true
BACKREST_PROXY_ALIAS=backrest
"""

##

[[stack]]
name = "vaultwarden"
tags = ["tools", "data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Vaultwarden"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=vaultwarden-config
VAULTWARDEN_DB_NAME=vaultwarden
"""