[[stack]]
name = "adguard-home"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["adguard_home.yaml"]
env_file_path = "adguardhome.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=adguardhome-config
"""

##

[[stack]]
name = "authentication"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["authentication.yaml"]
env_file_path = "authentication.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
SECRET=buIAul6AlEKPsPZoUG2TrLhV1l4CW1YM
APP_CONFIG_PATH=pocketid-config
POSTGRES_CONFIG_PATH=postgresql-config
POCKETID_DB_NAME=pocketid
MAXMIND_LICENSE_KEY_FILE=MAXMIND_LICENSE_KEY_FILE
USERS==mahdi:$$2a$$10$$vrupZJayw7eBI/QPU2SFBu21S.ixmQB4b0nf7QHV6wbamLtvBxgyS #mahdi:quadong
LOCAL_VPS_IP=172.16.1.122 # local vps ip
"""

##

[[stack]]
name = "authorization"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["authorization.yaml"]
env_file_path = "authorization.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
SECRET=buIAul6AlEKPsPZoUG2TrLhV1l4CW1YM
OAUTH_WHITELIST=jenny48074@gmail.com
GITHUB_CLIENT_SECRET=d325f14eec6e851953699c0f60153e2224970da6
GITHUB_CLIENT_ID=Ov23liu3zbXVTX9vdiLK
GOOGLE_CLIENT_ID=82535139759-ss6palf2fr95p4g70445lasliiaod3m7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
LOCALHOST=127.0.0.1
"""

##

[[stack]]
name = "cloudflared"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["cloudflared.yaml"]
env_file_path = "cloudflared.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=cloudflared-config
"""

##

[[stack]]
name = "data-station"
description = "For VPS download data (telegram bot) and backrest"
tags = ["system", "data"]
[stack.config]
server = "LightnodeVPS"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Syncing"
file_paths = [
  "backrest.yaml",
  "telegram-bot.yaml",
  "../Database/mongodb.yaml"
]
env_file_path = "data-station.env"
additional_env_files = ["../../MainSystem/.env"]
config_files = [
  { path = "../../../../rclone.conf", services = ["backrest", "telegram-bot"], requires = "Redeploy" },
  { path = "../../../../cookies.txt", services = ["telegram-bot"], requires = "Restart" }
]
environment = """
BACKREST_CONFIG_PATH=backrest-config
RClONE_CONFIG_PATH=../../../etc/komodo
OPENLIST_CONFIG_PATH=openlist-config
INFUSE_MEDIA_STORAGE_PATH=/mnt/Data/Infuse/media
APPLICATION_STORAGE_PATH=/mnt/Application/Downloads
MISC_STORAGE_PATH=/mnt/Storage
MONGODB_CONFIG_PATH=mongodb-config
LOCALHOST=127.0.0.1
BACKREST_PROXY_ALIAS=backrest.picityvietnam.com
"""

##

[[stack]]
name = "file-manager"
tags = ["system", "tools"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["filebrowser.yaml"]
env_file_path = "filebrowser.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=filebrowser-config
"""

##

[[stack]]
name = "godoxy"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["Godoxy/godoxy.yaml"]
env_file_path = "godoxy.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
# docker image tag (latest, nightly)
TAG=latest
GOST_CLIENT_CMD=-L socks5://admin:26072004@0.0.0.0:1237?udp=true -L relay+quic://tunnel:8bf87c19b6a2a32492a0a65a5f795219936355bb@0.0.0.0:12446?bind=true
APP_CONFIG_PATH=godoxy-config
# container uid and gid (must match the owner of mounted directories)
GODOXY_UID=1000
GODOXY_GID=1000

# Set GODOXY_API_JWT_SECURE=false to allow http
GODOXY_API_JWT_SECURE=true
# API JWT Configuration (common)
# generate secret with `openssl rand -base64 32`
GODOXY_API_JWT_SECRET=ee3dc562a8a033aceafc184c01dfcc395b637962657274726f6e
# the JWT token time-to-live
# leave empty to use default (24 hours)
# format: https://pkg.go.dev/time#Duration
GODOXY_API_JWT_TOKEN_TTL=

# API/WebUI user password login credentials (optional)
# These fields are not required for OIDC authentication
# GODOXY_API_USER=admin
# GODOXY_API_PASSWORD=password

# OIDC Configuration (optional)
# Uncomment and configure these values to enable OIDC authentication.
#
GODOXY_OIDC_ISSUER_URL=https://pocketid.nextmeats.asia
GODOXY_OIDC_CLIENT_ID=cf1f9f04-67e0-4f02-8c00-3e947601e420
GODOXY_OIDC_CLIENT_SECRET=CLyUDOQfXQk9EFsyt6Njei4NAKxwxr3G
GODOXY_OIDC_SCOPES=openid, profile, email, groups, preferred_username, offline_access # you may also include `offline_access` if your Idp supports it (e.g. Authentik, Pocket ID)
#
# User definitions: Uncomment and configure these values to restrict access to specific users or groups.
# These two fields act as a logical AND operator. For example, given the following membership:
#   user1, group1
#   user2, group1
#   user3, group2
#   user1, group2
#
# Comma-separated list of allowed users.
#GODOXY_OIDC_ALLOWED_USERS=mahdi
# Optional: Comma-separated list of allowed groups.
#GODOXY_OIDC_ALLOWED_GROUPS=administrator
# You can allow access to user3 AND all users of group1 by providing:
GODOXY_OIDC_ALLOWED_USERS=mahdi
GODOXY_OIDC_ALLOWED_GROUPS=administrators
#
# Comma-separated list of allowed users.
#GODOXY_OIDC_ALLOWED_USERS=mahdi
# Optional: Comma-separated list of allowed groups.
#GODOXY_OIDC_ALLOWED_GROUPS=administrator

# Proxy listening address
GODOXY_HTTP_ADDR=:80
GODOXY_HTTPS_ADDR=:443

# Enable HTTP3
GODOXY_HTTP3_ENABLED=true

# API listening address
GODOXY_API_ADDR=127.0.0.1:8888

# Metrics
GODOXY_METRICS_DISABLE_CPU=false
GODOXY_METRICS_DISABLE_MEMORY=false
GODOXY_METRICS_DISABLE_DISK=false
GODOXY_METRICS_DISABLE_NETWORK=false
GODOXY_METRICS_DISABLE_SENSORS=false

# Frontend listening port
GODOXY_FRONTEND_PORT=3001

# Frontend aliases (subdomains / FQDNs, e.g. godoxy, godoxy.domain.com)
GODOXY_FRONTEND_ALIASES=godoxy

# Docker socket
# /var/run/podman/podman.sock for podman
DOCKER_SOCKET=/var/run/docker.sock
SOCKET_PROXY_LISTEN_ADDR=192.168.1.3:2375
# Debug mode
GODOXY_DEBUG=true
"""

##

[[stack]]
name = "godoxy-agent"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = [
  "Godoxy/agent.yaml",
  "Gost/client.yaml"
]
env_file_path = "Godoxy/agent.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=godoxy-config
GOST_CLIENT_CMD=-L rtcp://:8890/192.168.1.3:8890 -F relay+quic://tunnel:8bf87c19b6a2a32492a0a65a5f795219936355bb@38.54.17.235:12446?insecure=true
"""

##

[[stack]]
name = "homepage"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["gethomepage.yaml"]
env_file_path = "gethomepage.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=gethomepage-config
"""

##

[[stack]]
name = "komodo"
tags = ["system"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems/Komodo"
file_paths = ["komodo.yaml"]
env_file_path = "komodo.env"
additional_env_files = ["../../../MainSystem/.env"]
config_files = [
  { path = "core.config.toml", services = ["core"], requires = "Restart" },
  { path = "periphery.config.toml", requires = "Redeploy" }
]

##

[[stack]]
name = "notification"
tags = ["system", "tools", "automation"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["notification.yaml"]
env_file_path = "notification.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=gotify-config
"""

##

[[procedure]]
name = "Backup Core Database"
description = "Triggers the Core database backup at the scheduled time."
tags = ["system", "automation"]
config.schedule = "Every day at 23:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "BackupCoreDatabase", execution.params = {}, enabled = true }
]

##

[[procedure]]
name = "Global Auto Update"
description = "Pulls and auto updates Stacks and Deployments using 'poll_for_updates' or 'auto_update'."
tags = ["system", "automation"]
config.schedule = "Every day at 23:00"

[[procedure.config.stage]]
name = "Stage 1"
enabled = true
executions = [
  { execution.type = "GlobalAutoUpdate", execution.params = {}, enabled = true }
]