[[stack]]
name = "blackbox"
tags = ["tools", "data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Blackbox"
file_paths = ["openbullet.yaml"]
env_file_path = "openbullet.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=openbullet2-config
"""

##

[[stack]]
name = "file-manager"
tags = ["system", "tools"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["filebrowser.yaml"]
env_file_path = "filebrowser.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=filebrowser-config
"""

##

[[stack]]
name = "karakeep"
tags = ["tools", "data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Karakeep"
additional_env_files = ["../../MainSystem/.env"]
environment = """
MEILI_MASTER_KEY=ask-tick-any-gavel
NEXTAUTH_SECRET=storming-flapping-topped-maris
KARAKEEP_OAUTH_CLIENT_ID=74edeb45-11b8-42d2-8dd6-d3ae3893972b
KARAKEEP_OAUTH_CLIENT_SECRET=eI6LTbhnRnRqHgIpxEcnJ0vMl2lHuUJe
OPENAI_API_KEY=AIzaSyBNmCReS1WUe5g0k8I73piDC95-yz-xscY
"""

##

[[stack]]
name = "media-center"
tags = ["tools"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/MediaCenter"
file_paths = [
  "streaming.yaml",
  "arr_apps.yaml",
  "downloader.yaml"
]
env_file_path = "mediacenter.env"
additional_env_files = [
  "../../MainSystem/.env",
  "rtorrent-rutorrent.env"
]
environment = """
ALIST_CONFIG_PATH=alist-config
RClONE_CONFIG_PATH=rclone-config
INFUSE_MEDIA_STORAGE_PATH=/mnt/Data/Infuse/media
DATA_STORAGE_PATH=/mnt/Data
APPLICATION_STORAGE_PATH=/mnt/Application/Downloads
MISC_STORAGE_PATH=/mnt/Storage
PLEX_CLAIM=claim-wEoe1DzLKxkxsxYxESDh
JELLYFIN_CONFIG_PATH=jellyfin-config
OMBI_CONFIG_PATH=ombi-config
PLEX_CONFIG_PATH=plex-config
TAUTULLI_CONFIG_PATH=tautulli-config
LIDARR_CONFIG_PATH=lidarr-config
RADARR_CONFIG_PATH=radarr-config
SONARR_CONFIG_PATH=sonarr-config
BAZARR_CONFIG_PATH=bazarr-config
PROWLARR_CONFIG_PATH=prowlarr-config
AUDIOBOOKSHELF_CONFIG_PATH=audiobookshelf-config
CALIBRE_CONFIG_PATH=calibre-config
PYLOAD_CONFIG_PATH=pyload-config
RTORRENT_CONFIG_PATH=rtorrent-config
QBITTORRENT_CONFIG_PATH=qbittorrent-config
RECYCLARR_CONFIG_PATH=recyclarr-config
UNPACKERR_CONFIG_PATH=unpackerr-config
RT_DHT_PORT=26881
XMLRPC_PORT=28000
RUTORRENT_PORT=28080
WEBDAV_PORT=29000
RT_INC_PORT=50000
"""

##

[[stack]]
name = "notification"
tags = ["system", "tools", "automation"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/BackboneSystems"
file_paths = ["notification.yaml"]
env_file_path = "notification.env"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=gotify-config
"""

##

[[stack]]
name = "vaultwarden"
tags = ["tools", "data"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/Vaultwarden"
additional_env_files = ["../../MainSystem/.env"]
environment = """
APP_CONFIG_PATH=vaultwarden-config
VAULTWARDEN_DB_NAME=vaultwarden
"""

##

[[stack]]
name = "vpn"
tags = ["tools"]
[stack.config]
server = "HomeLab"
poll_for_updates = true
auto_update = true
auto_update_all_services = true
linked_repo = "Komodo-Github"
run_directory = "stacks/VPN"
file_paths = ["gluetun.yaml"]
env_file_path = "vpn.env"
additional_env_files = ["../../MainSystem/.env"]
post_deploy.command = """
docker container restart qbittorrent vuetorrent-backend
"""
environment = """
GLUETUN_CONFIG_PATH=/gluetun-config
GOST_CLIENT_CMD=-L tcp://:56245/192.168.4.2:56245 -L udp://:56245/192.168.4.2:56245
WIREGUARD_ENDPOINT_IP=173.239.247.145
WIREGUARD_ADDRESSES=10.17.251.123
WIREGUARD_PRIVATE_KEY=0INIiZ20z+F/SJaH5N2gT0f9C0/PIQR52U7CKK/0DEc=
WIREGUARD_PUBLIC_KEY=vIUmWUn8QnyQhkNyzKUShFv4KRPwCVsN3jW0B+gXeAc=
VPN_PORT_FORWARDING_USERNAME=p8001972
VPN_PORT_FORWARDING_PASSWORD=e8*Vu8GeMFZBS*
SERVER_NAMES=vietnam403
"""